
 
.array-container{

    padding-top: 6rem;
    height: 2rem;
    row-gap: 1rem;
    width: 100%;
    height: 95vh;
    

    
    
}
.button{
   
}
.array-bar{
    width: 2px;
    background-color: pink;
    display: inline-block;
    margin: 0 1px;
    
}
@media screen and (min-width:1024px){
    .array-container{
    position: absolute;
   
    margin: 0;
    padding: 1rem;
    }
}